:root {
	--dropdown-bg: #fff;
	--dropdown-shadow: rgba(0, 0, 0, 0.2);
	--dropdown-width: 330px;
	--dropdown-top: 15%;
	--dropdown-left: 0;
	--dropdown-offset-top: 0px;
	--dropdown-offset-left: 0;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	font: inherit;
	margin: 0;
}

body {
	font-family: Arial, sans-serif;
}

ul, li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: var(--dropdown-bg);
	padding: 10px 5px;
	border-radius: 5px;
	box-shadow: 0 0 8px var(--dropdown-shadow);
	width: var(--dropdown-width);
	opacity: 0;
	transition: opacity 0.3s ease;
	top: calc(var(--dropdown-top) + var(--dropdown-offset-top));
	margin: 0;
}

.dropdown-menu.show {
	display: block;
	opacity: 1;
}

.arrow {
	margin-left: 5px;
	vertical-align: middle;
}



.arrow img {
	width: 16px;
	height: 16px;
	margin-top: 5px;
}

.dropdown-link {
	color: black;
	text-decoration: none;
	display: block;
	padding: 5px 0;
}

